# LoRA Requirements
numpy
transformers>=4.32.0
sentencepiece
tokenizers
accelerate
deepspeed
gradio
peft==0.6.0
bitsandbytes==0.41.1
datasets
fire

# Qwen Requirements (Extra)
tiktoken 
einop      
scipy 
transformers_stream_generator==0.0.4

# ChatGLM3 Requirements (Extra)
protobuf
cpm_kernels
mdtex2html